.menu-inline{
	
	position: relative;
    width: max-content;
	z-index: 1001;

	ul{
		width: 100%;

		li{
			display: inline-flex;
			margin: 0.5em;
			cursor:pointer;

			a h4{
				color: #262001;
				font-size: 1em;

				&:hover{
					opacity: 1;
					top: 5vh;
					transition: all 0.7s;
				}
			}

			&.selected{

				a h4{
					color: $red;
				}
			}
		
			@include respond-to('lg'){

				a h4{
					font-size: 1.6em;
				}
			}

			@include respond-to('wsga'){	
				
				a h4{
					font-size: 1em;
				}
			}
		}
	}
	
}


.menu{

	display: flex;
	opacity: 0;
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	transition: all 0.7s;
	top: 0;

	li{
		margin: 1em 0.5em;
		cursor: pointer;

	}
}