.ham {
    position: fixed;
    z-index: 1002;
    top: 4.7em;
    left: 0.8em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    padding: 1em;
    

    svg{
        fill: #262001;
        transition: fill 0.6s;
        
    }

    &.active{

        svg{
            fill: #262001;

            .bar1{
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg) translate(2em,-1em);
            }
    
            .bar2{
                opacity: 0;
            }

            .bar3{
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg) translate(-2em,1em);
            }
        }
    }
}

.content-sidebar{
    width: 15%;
}


.sidebar{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #FFFFFF;
    position: relative;
    z-index: 999;
    top: -100%;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.sidebar ul{
    cursor:pointer;
    padding: 0.5em;
    padding-top: 10vh;
    font-size: 1.2em;
    font-weight: 550;
    color:#262001;
    font-family: $font-stack;
    font-weight: 600;
    font-size:  1.3em;
    width: 100%;

    li{
        width: 15%;
        text-align: center;
        display: inline-block;
    }

}

.sidebar.active{
    position: absolute;
    width: 100%;
    z-index: 1100;
    top: 0%;
    opacity: 1;
    transition: 0.4s ease-in-out;
    height: 20vh;
}

