
.carrito-wrap{
    position:fixed;
    z-index:2000;
    top: 9%;
    right: -18%;

    .carrito-icono{


        svg{
            width: 12%;
            height: 5%;
            color: #FFFFFF;
            background-color: #2685BF;
            border: 2px solid #2685BF;
            border-radius: 50%;
            padding: 0.8em;
        }
    }

}