.form{
	background-color: rgba(114, 201, 223, 0.5);
	height: 90vh;
	padding: 5vh 4%;
	width: 60%;
	font-size: 1em;
	display:flex;
}

.first-column{
    display: inline-block;
	width: 40%;
}

.second-column{
    display: inline-block;
	width: 40%;
	float: right;
}


.form-error{
	opacity: 0;
	transition: opacity 0.5s;
	width: 100%;
}

.form-error.active{
	opacity: 1;
}

.form-error p{
	color: hsl(0, 100%, 50%);
}

.form-container{
	width: 100%;
	height: 90vh;
}

.form-update{
	display:flex;
}

.form-update button.update{
	
	position: relative;
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    cursor: pointer;
	margin-bottom: 0.5em;



	&.active{
		svg{
		background-color: #FFFFFF;
		position: absolute;
		padding: 0.5em;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-bottom: 0.5em;
		margin: auto;
		border: 0.2em solid transparent;
		border-radius: 50%;
		animation: button-loading-spinner 1s ease infinite;

			@keyframes button-loading-spinner {
				from {
					transform: rotate(0turn);
				}
			
				to {
					transform: rotate(1turn);
				}
			}
		}
	}
}

.form-group{
	margin-bottom: 2em;
	width: 100%;
}

.form-label{
	margin-bottom: 1em;
	width: 100%;
}

.form-label label{

	color: hsl(0, 0%, 50%);
	font-family: $font-stack;
	font-weight: 600;
	font-size: 1.3em;
}

.form-label label{
	color: hsl(0, 0%, 50%);
	font-family: $font-stack;
	font-weight: 600;
	font-size: 1.3em;
	transition: color 0.5s;
}

.form-label label.active{
	background-color: #dedede;
    border-radius: 0.3em;
    color: black;
    cursor: pointer;
}

.form-input{
	width: 100%;
}

.form-input input, 
.form-input textarea,
.form-input select {
	border: 0.1em solid hsl(0, 0%, 100%);
	border-radius: 0.3em;
	color: #000000;
	font-family: $font-stack;
	padding: 0.2em 0;
	width: 100%;
}

.form-input input:focus, .form-input textarea:focus{
	outline: none;
}

.form-input .ck-editor__editable_inline {
    min-height: 15vh;
}

.form-input textarea{
	height: 20vh;
}

.form-footer{
	display: flex;
	justify-content: flex-end;
}

.form-submit {
	margin-top: 1em;
    width: max-content;
}

.form-submit button{
	border: 0.2em solid hsl(0, 0%, 50%);
	border-radius: 0.3em;
	background-color: #ffffff;
	color: hsl(0, 0%, 0%);
	font-family: $font-stack;
	font-weight: 600;
	font-size:  1.3em;
	padding: 0.2em;
	transition: border 0.3s;
	position:absolute;
	top: 93%;
	right: 0;
	left: 90%;
	bottom: 0;
	height: 5vh;
}

.form-save button{
	border: 0.2em solid hsl(0, 0%, 50%);
	border-radius: 0.3em;
	background-color: #ffffff;
	color: hsl(0, 0%, 0%);
	font-family: $font-stack;
	font-weight: 600;
	font-size:  1.5em;
	padding: 0.3em;
	transition: border 0.3s;
	position:absolute;
	top: 57%;
	right: 0;
	left: 93%;
	bottom: 0;
	height: 5vh;
}


.form-submit button:hover{
	border: 0.2em solid #000000;
	background-color: 0.1em  #000000;
	color: hsl(0, 0%, 0%);
}

.form-save button:hover{
	border: 0.2em solid #000000;
	background-color: 0.1em  #000000;
	color: hsl(0, 0%, 0%);
}

#create-sitemap{
	margin-bottom: 1em;
}



