.ham {
    position: fixed;
    z-index: 1002;
    top: 1em;
    left: 0em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    padding: 1em;

    svg{
        fill: hsl(0, 0%, 0%);
        transition: fill 0.6s;
        
    }

    &.active{

        svg{
            fill: hsl(0, 0%, 100%);

            .bar1{
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg) translate(2em,-1em);
            }
    
            .bar2{
                opacity: 0;
            }

            .bar3{
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg) translate(-2em,1em);
            }
        }
    }
}

.content-sidebar{
    width: 15%;
}


.sidebar{
    width: 15%;
    height: 100vh;
    display: flex;
    background-color: #000000;
    position: relative;
    z-index: 999;
    left: -100%;
    opacity: 0;
    transition: 0.4s linear;
}

.sidebar ul{
    display: block;
    cursor:pointer;
    padding: 0.5em;
    padding-top: 10vh;
    font-size: 1.2em;
    font-weight: 550;
    color:#FFFFFF;
    font-family: $font-stack;
    font-weight: 600;
    font-size:  1.3em;
    width: 100%;

    li{
        border-bottom: 0.2em solid #FFFFFF;
        overflow: hidden;
    }

}

.sidebar.active{
    position: absolute;
    z-index: 1001;
    left: 0%;
    opacity: 1;
    transition: 0.4s linear;
}

