.table{
    padding: 1em;
    width: 50%;
    font-size: 1.1em;

}

table {
    font-family: arial, sans-serif;
    font-size: 0.9em;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 0.1em solid #dddddd;
    max-width: 5em;
    padding: 0.5em;
    text-align: center;
}

td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

th {
    color:#000000;
}

tr td:last-child {
    width: 80%;
    white-space: nowrap;
}

.table-icons-container{
    display: flex;
    justify-content: space-around;
}

.table-icons{ 

    width: 2%;
    font-size: 1em;

    &:hover{

        cursor: pointer;
    
        path {
            fill:  #7ECCE3;
        }
    }

    svg {

        width: 100%;
    
        path{
            fill: hsl(0, 0%, 50%);
        }
    }    
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}