
.menu-form li:hover{

	border-radius: 0.3em;
	background-color: hsl(0, 0%, 87%);
	color: hsl(0, 0%, 0%);
	cursor: pointer;
}


.menu-form ul{
    background-color: #FFFFFF;
	border: 0.1em;
	border-radius: 0.3em;
	margin-bottom: 2em;
    width: 100%;

    li{
        display:inline-block;
        padding: 0.5em;
    }
}

.menu-button{
	background-color:#000000;
	&.tab-active{
		background-color: rgb(157, 157, 219);
	}
}

.submenu-form{
	background-color: #FFFFFF;
	border: 0.1em;
	border-radius: 0.3em;
	margin-bottom: 2em;
	width: 100%;

	ul{
		width: 100%;

		li{
			display:inline-block;
			padding: 1em;
		}
	}
}

.submenu-form li:hover{
	background-color: hsl(0, 0%, 87%);
	border-radius: 0.3em;
	color: hsl(0, 0%, 0%);
	cursor: pointer;
}


.panel{
    display:none;

    &.tab-active{
        display:block;
    }
}

.subpanel{
    display:none;

    &.locale-tab-active{
        display:block;
    }
}



.drop-zone {
	max-width: 7em;
	height: 3em;
	padding: 2em;
	margin-bottom: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 1em;
	cursor: pointer;
	color: #000000;
	border: 0.2em dashed #FFFFFF;
	border-radius: 0.3em;
  }
  
  .drop-zone--over {
	border-style: solid;
  }
  
  .drop-zone__input {
	display: none;
  }
  
  .drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
  }
  
  .drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1em 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 1em;
	text-align: center;
  }
  