
.menu-form li:hover{

	border-radius: 0.3em;
	background-color: hsl(0, 0%, 87%);
	color: hsl(0, 0%, 0%);
	cursor: pointer;
}


.menu-form ul{
    background-color: #FFFFFF;
	border: 0.1em;
	border-radius: 0.3em;
	margin-bottom: 2em;
    width: 100%;

    li{
        display:inline-block;
        padding: 0.5em;
    }
}

.menu-button{
	&.tab-active{
		background-color: #dedede;
		border-radius: 0.3em;
		color: black;
		cursor: pointer;
	}
}

.submenu-form{
	background-color: #FFFFFF;
	border: 0.1em;
	border-radius: 0.3em;
	margin-bottom: 2em;
	width: 100%;

	ul{
		width: 100%;

		li{
			display:inline-block;
			padding: 1em;
		}
	}
}

.submenu-form li:hover{
	background-color: hsl(0, 0%, 87%);
	border-radius: 0.3em;
	color: hsl(0, 0%, 0%);
	cursor: pointer;
	
}

.subpanel-button{

	&.locale-tab-active{
		background-color: #dedede;
		border-radius: 0.3em;
		color: black;
		cursor: pointer;
	}
}


.panel{
    display:none;

    &.tab-active{
        display:block;
    }
}

.subpanel{
    display:none;

    &.locale-tab-active{
        display:block;
	
    }
}
