.form {
    width: 40%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.form-title{
    margin-top: 0.2em;
    width: 100%;
}

.form-title h2{
    text-align: center;
}

.form-content{
    border: 0.1em;
    border-radius: 0.5em;
    width: 100%;
}

.form-group {
    margin-bottom: 0.5em;
    width: 100%;
}

.form-label {
    width: 100%;
    margin-bottom: 0.5em;
    border: 0.1em;
    border-radius: 0.5em;
}

.form-label label {
    font-weight: bold;
}

.form-input {
    width: 100%;
    margin-bottom: 0.5em;
    border: 0.1em;
    border-radius: 0.5em;
}

.form-input input{
    width: 100%;
}