@media screen and (max-width: 480px){

.form{
	background-color: rgba(114, 201, 223, 0.5);
	height: 80%;
	padding: 1em;
	width: 85%;
	max-width: 480px;
	font-size: 0.8em;
	display: none;

	&.active{
		display: block;
		z-index: 3000;
	}

	.one-column{

        .form-group{
            width: 100%;
        }
    }

    .two-columns{
        display: flex;
        justify-content: space-between;

        .form-group{
            width: 47%;
        }
    }

    .three-columns{
        display: flex;
        justify-content: space-between;

        .form-group{
            width: 32%;
        }
    }

    .four-columns{
        display: flex;
        justify-content: space-between;

        .form-group{
            width: 23%;
        }
    }

}


.form-error{
	opacity: 0;
	transition: opacity 0.5s;
	width: 100%;
}

.form-error.active{
	opacity: 1;
}

.form-error p{
	color: hsl(0, 100%, 50%);
}

.form-container{
	width: 100%;
}

.form-group{
	margin-bottom: 2em;
	width: 100%;
}

.form-label{
	margin-bottom: 1em;
	width: 100%;
}

.form-label label{
	color: hsl(0, 0%, 50%);
	font-family: $font-stack;
	font-weight: 600;
	font-size: 1.3em;
}

.form-label label{
	color: hsl(0, 0%, 50%);
	font-family: $font-stack;
	font-weight: 600;
	font-size: 1.3em;
	transition: color 0.5s;
}

.form-label label.active{
	color: hsl(19, 100%, 50%);
}

.form-input{
	width: 100%;
}

.form-input input, .form-input textarea{
	border: 0.1em solid hsl(0, 0%, 100%);
	border-radius: 0.3em;
	color: hsl(0, 0%, 0%);
	font-family: $font-stack;
	padding: 0.2em;
	width: 100%;
}

.form-input input:focus, .form-input textarea:focus{
	outline: none;
}

.form-input textarea{
	height: 20vh;
}

.form-input select{
	border: 0.2em;
	border-radius: 0.3em;
	padding: 0.2em;
}

.form-footer{
	display: flex;
	justify-content: flex-end;
}

.form-submit {
	margin-top: 1em;
    width: max-content;
}

.form-submit button{
	border: 0.2em solid hsl(0, 0%, 50%);
	border-radius: 0.3em;
	background-color: #ffffff;
	color: hsl(0, 0%, 0%);
	font-family: $font-stack;
	font-weight: 600;
	font-size:  1em;
	padding: 0.2em;
	transition: border 0.3s;
}

.form-submit button:hover{
	border: 0.2em solid hsl(19, 100%, 50%);
	background-color: 0.1em solid hsl(19, 100%, 50%);
	color: hsl(0, 0%, 0%);
}

}

#menu-container{
	margin-bottom: 2em;
	width: 90%;
}


.menu-button .active{
	
    border: 0.1em solid #000000;
	border-radius: 0.3em;
	background-color: #FFFFFF;
	color: hsl(0, 0%, 0%);

}


.menu-form{
    width: 45%;

    li{
        display:inline-block;
        padding: 0.5em;
    }

	.form-header{
		width: 50%;
	}
}

.menu-form li:hover{
	border: 0.1em solid #000000;
	border-radius: 0.3em;
	background-color: #FFFFFF;
	color: hsl(0, 0%, 0%);
}

.panel .submenu-form ul{
	width: 45%;

    li{
        display:inline-block;
        padding: 0.5em;
    }

	.form-header{
		width: 50%;
	}
}


.panel{
    display:none;
	z-index: 3000;

    &.active{
        display:block;
		position: absolute;
		z-index: 3003;
    }
}

.form-update button.update{
	position:relative;
    padding: 2em;
    background: #009579;
    border: none;
    outline: none;
    border-radius: 0.5em;
    cursor: pointer;
	
	&.active{
		position: absolute;
		width: 16px;
		height: 16px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border: 4px solid transparent;
		border-top-color: #ffffff;
		border-radius: 50%;
		animation: button-loading-spinner 1s ease infinite;
	}
}
