.wrapper{
    background-color: #FFFFFF;
    width: 100%;
}

.main-content{
    background-color: #F2EBC4;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.page-section{
    margin: 0 5%;
    min-height: 100vh;
    width: 100%;
    padding-top: 4em;
}
