.switch-container{
	width: 50%;
	float: right;
	position: relative;
	bottom: 3.5em;
	right: 4em;
	
}

label.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 6em;
	height: 2.7em;
	background: grey;
	display: block;
	border-radius: 100px;
	position: absolute;
	transition: .4s;
	border-radius: 1.3em;
}	

input[type=checkbox] {
	display:none
}

.slider:before
{
	content:'';
	position:absolute;
	height: 2em;
	width: 2em;
	left: 5px;
	bottom: 5px;
	background-color: #FFFFFF;
	transition: 0.4s;
	border-radius: 1.5em;
}

input:checked + .slider:before{
	transform: translateX(40px);
}