.swipe-element {
	height: max-content;
	position: relative;
	width: 100%;
}

.swipe-front {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0;
	box-sizing: border-box;
	color: #ecf0f1;
	background-color:rgb(114, 201, 223);
	z-index: 2;
	-ms-touch-action: none;
	touch-action: none;
}

.swipe-back {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	left: 0;
	top: 0;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
}

.swipe-back button {
	display: inline-block;
	background-color: #0f9d58;
	width: 50%;
	border-style: none;
}

.swipe-back button:nth-child(2) {
	background-color: #cb4437;
}

.promote-layer {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
